/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Set the main presentation font
$presentation-font-family: "Source Serif 4", serif !default;

// Optional: explicitly set heading font as well
$presentation-heading-font: "Source Serif 4", serif !default;

  
$presentation-title-slide-text-align: left;

.reveal {
  font-family: "Source Serif 4", serif;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 {
  font-family: "Source Serif 4", serif;
}

